@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #282828;
}
#hero {
  background-image: url("../images/hero-desktop.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/hero-mobile.jpg");
    background-position: center;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-3;
}

.hamburger {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  transition: 0.25s;
  transform: rotate(0deg);
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
